<div class="container mt-4">
  <h2 class="text-center">Detalle del Producto</h2>
  <div class="card mt-3">
    <div class="card-header bg-primary text-white">Producto: {{ producto.nombre }}</div>
    <div class="card-body">
      <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
      <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
      <p><strong>Precio Unitario:</strong> {{ producto.precio }}</p>
      <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-secondary" (click)="volver()">Volver</button>
    </div>
  </div>

  <!-- Tabla de movimientos -->
  <div class="d-flex justify-content-between">
    <h3 class="mt-4">Movimientos del Producto</h3>
    <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#movementModal">
      Agregar Movimiento
    </button>
  </div>
  <div class=" table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="movements.length === 0">
          <td colspan="5" class="text-center">No hay movimientos registrados</td>
        </tr>
        <tr *ngFor="let movement of movements; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ movement.tipo_movimiento.toUpperCase() }}</td>
          <td>{{ movement.cantidad }}</td>
          <td>{{ movement.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="movementModal" tabindex="-1" aria-labelledby="movementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movementModalLabel">
            Agregar Movimiento
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-movement-form [idProducto]="producto.id_producto"
            (movementSaved)="onMovementSaved()"></app-movement-form>
        </div>
      </div>
    </div>
  </div>