<div class="container mt-4 raw" >
  <div class="d-flex justify-content-between align-items-center"style="background-color: #f7f7f7;">
    <h2 class="text" style="font-size: 25px;">{{ producto.nombre }}</h2>
    <h4 class="text" style="font-size: 25px;">Código: {{ producto.id_producto }}</h4>
  </div>
  <hr>
  <div class="container" >
    <div class="row mb-2">
      <div class="col">
        <p class="text-center">
          <strong>Descripción:</strong><br>
          {{ producto.descripcion }}
        </p>
      </div>
      <div class="col">
        <p class="text-center">
          <strong>Categoría:</strong><br>
          {{ producto.categoria }}
        </p>
      </div>
      <div class="col">
        <p class="text-center">
          <strong>Precio Unitario:</strong><br>
          {{ producto.precio }}
        </p>
      </div>
      <div class="col">
        <p class="text-center">
          <strong>Cantidad:</strong><br>
          {{ producto.cantidad }}
        </p>
      </div>
    </div>
  </div>

  <button class="btn btn-secondary" (click)="volver()">Volver</button>
</div>

<!-- Tabla de movimientos -->
<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h3 class="mt-4" style="font-size: 20px;">Movimientos del Producto</h3>
    <button class="btn" style="background-color: #0D5492; border-radius: 22px; border: none; color: white;" data-bs-toggle="modal" data-bs-target="#movementModal">
      <i class="bi bi-plus-circle" style="color: white;"></i> Agregar Movimiento
    </button>
    
  </div>
  <div class="table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>Tipo</th>
          <th>Cantidad</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="movements.length === 0">
          <td colspan="5" class="text-center">No hay movimientos registrados</td>
        </tr>
        <tr *ngFor="let movement of movements; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ movement.tipo_movimiento.toUpperCase() }}</td>
          <td>{{ movement.cantidad }}</td>
          <td>{{ movement.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="movementModal" tabindex="-1" aria-labelledby="movementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movementModalLabel">
            Agregar Movimiento
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-movement-form [idProducto]="producto.id_producto"
            (movementSaved)="onMovementSaved()"></app-movement-form>
        </div>
      </div>
    </div>
  </div>
</div>
